<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../css/app.css" />
  </head>
  <body>
    <div>
      <h1>Your habits - your life</h1>
      <main>
        <button class="btn mb-2" id="addSite">
          Add <span id="siteHost"></span>
        </button>
        <button class="btn mb-2" id="domains">Websites</button>
      </main>
      <footer>
        <button class="btn" id="options">Options</button>
      </footer>
    </div>
    <script src="../js/popup.js"></script>
  </body>
</html>
