<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../css/app.css" />
    <script defer src="/src/js/main.js"></script>
    <script defer src="/src/js/safe.js"></script>
  </head>
  <body>
    <div id="safe">
      <header
        class="header"
        style="background-image: url(https://images.unsplash.com/photo-1505855265981-d52719d1f64e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1301&q=80);"
      >
        <nav class="text-center text-white">
          <h1>
            Habit aware - Keep waiting
          </h1>
        </nav>

        <div class="header_content">
          <div class="container">
            <div>
              <h2 id="quote">
                <button class="btn" id="visit-unsafe">
                  I want to visit
                </button>
              </h2>
            </div>
          </div>
        </div>
      </header>
    </div>
  </body>
</html>
